.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    // overflow: hidden;
    // background-color: $color-alt;
    // @include background-image(bg_header, cover, no-repeat, center bottom, svg);

    &:hover {
        .brand {}
    }
}